
tml{ background-color:;}

*/
/* Box sizing rules */
*,
*::before,
*::after {
box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
margin: 0;
}


/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
max-width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
* {
animation-duration: 0.01ms !important;
animation-iteration-count: 1 !important;
transition-duration: 0.01ms !important;
scroll-behavior: auto !important;
}
}


html {
}

body{
  background-color: rgba(252,252,252) !important;
  }

.hor-scroll-page {
   display: flex;
  overflow-x: auto;
  overflow-y: hidden;
   scroll-snap-type: x mandatory;
   -webkit-overflow-scrolling: touch;
}

.hor-scroll-page::-webkit-scrollbar {
    display: none;
}

.scroll-miniportfolio {
  -webkit-scrollbar:block;
  -webkit-scrollbar-width: thin;
  border-left: solid 2px black;
  padding-left: 1.4rem;
}


.websites {
  justify-content: center;
  flex: 0 0 100vw;
  height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-columns: 2rem 1fr 8fr 4fr 1fr 3rem;
  grid-template-rows: 10px 1.6em 2em 2rem 61vh 2rem;
  grid-column-gap: 1.2rem;
  scroll-snap-align: end;
  overflow-y:hidden;
}

#design {
  position: relative;
  grid-template-columns: 30px 1fr 1fr 9.5fr 0.9fr 20px;
  grid-template-rows: 10px 1.6em 2em auto auto 25%;
}


#design .synopsis{
  position: sticky;
  grid-column: 2/4;
  grid-row: 4/8;
  align-self: center;

  width: 100%;
  transform:rotate(-90deg);
}

.synopsis ul {
  padding:0;
  text-align: left;
  list-style: ;
  list-style-position: inside;
}

.synopsis li
{
  font-family: "Alegreya Sans", sans-serif;
  font-size: 15px;
  font-weight: lighter;
  letter-spacing: 0.02em;
  margin-bottom: 0.7em;
}

.synopsis ul li a{
  text-decoration: none;
  cursor: default;
  color: black;
  pointer-events: none;

  text-rendering: optimizeLegibility;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

/*
.nav-marquee {
 background-color: rgba(0,0,0,0.02);
 grid-column: 2/6;
 grid-row: 2/3;
 overflow: hidden;
 position: relative;
}
.nav-marquee h1 {
 position: absolute;
 width: 100%;
 font-family: "Alegreya", sans-serif;
 font-size: 14px;
 color: grey;
 margin-top: 0.6em;
 text-align: center;
 text-rendering: optimizeLegibility;
 text-transform: uppercase;
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);
 transform:translateX(70%);
 -moz-animation: nav-marquee 40s linear infinite;
 -webkit-animation: nav-marquee 40s linear infinite;
 animation: nav-marquee 40s linear infinite;
}
@-moz-keyframes nav-marquee {
 0%   { -moz-transform: translateX(70%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes nav-marquee {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes nav-marquee {
 0%   {
 -moz-transform: translateX(100%);
 -webkit-transform: translateX(100%);
 transform: translateX(100%);
 }
 100% {
 -moz-transform: translateX(-100%);
 -webkit-transform: translateX(-100%);
 transform: translateX(-100%);
 }
}
.nav-marquee h1:hover {
 -moz-animation-play-state: paused;
 -webkit-animation-play-state: paused;
 animation-play-state: paused;
 }
*/

.mini-nav {
 grid-column: 3/4;
 grid-row: 4/5;
 display: flex;
 justify-content: flex-end;
}

.mini-nav ul {
  display: inline-flex;
  align-items: flex-end;
  list-style-type: none;
  margin:0.2em;
  padding:0.2em;
}

.mini-nav ul li {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.1em;

      color: rgba(2,2,2,0.7);
  margin-right: 0.2em;
}


.mini-nav ul a {

      color: rgba(2,2,2,0.7);
  text-decoration: none;
  padding: 0.4em;
}


.mini-nav a:hover{
color: rgba(0,0,0,1);
}

.activeElem{
 background-color:rgba(132, 199, 224,.4);
}


.scroll {
  margin: 0;
  border: solid 1px rgba(200,200,200,0.4);
  border-radius: 6px;
  grid-column: 3/4;
  grid-row-start: 5;
  grid-row-end: 6;
  overflow-y: scroll;
  scroll-behavior: smooth;
  moz-scroll-behavior: smooth;
  flex-wrap: nowrap;
   box-shadow: inset -1px -1px 2px 2px rgba(0,0,0,0.04), inset -1px -1px 4px 4px rgba(0,0,0,0.03), inset 0px 0px 5px 6px rgba(0,0,0,0.02);
}

.scroll::-webkit-scrollbar {
    display: none;
}


.scroll img{
  margin: 0;
  width: 100%;
  position: relative;
  z-index:0;
}

.scroll hr {
  background-color: white;
}

.synopsis
{
  grid-column: 4/5;
  grid-row: 5/6;
  padding-left: 1rem;
  padding-top: 1.8rem;
}

.synopsis h1 {
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0;
  padding-right: 0;
  padding-left: 2.6rem;
  margin-left: -2.6rem;
  font-family: "Alegreya Sans", monospace;
  letter-spacing: 0.2em;
  line-height: 1.35;
  font-weight: ;
  font-size: 14px;
  text-align: center;
  border: solid 1px black;
  border-right: none;
  border-top: none;
  border-left: none;

  text-transform: uppercase;
}

.synopsis hr {
  margin: ;
  padding: 4px;
  border: 0;
    border-bottom: 1px dashed #ccc;
}

.synopsis ul {
  margin-top:0.3rem;
  text-align: left;
  list-style: ;
  list-style-position: inside;
}

.synopsis ul li:first-child {
  margin-top: 1rem;
}

.synopsis li
{
  font-family: "Alegreya Sans", sans-serif;
  font-size: 15px;
  font-weight:;
  letter-spacing: 0.02em;
  margin-bottom: 0.7em;
  text-align: justify;
  padding: 0.2rem;

    text-rendering: optimizeLegibility;
   -moz-osx-font-smoothing: grayscale;
}

.synopsis ul li a{
  text-decoration: none;
  cursor: default;
  color: black;
  pointer-events: none;

  text-rendering: optimizeLegibility;
 -moz-osx-font-smoothing: grayscale;
}


.activeSyno {
  background-color:;
  text-decoration: underline !important;
  font-size:;
  filter:;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px white, 0 0 70px #fff;
}
.activeSyno2 {
  filter: opacity(1)
  font-size: 14px;

  color: yellow;
}

.scroll-detail {
display: none;
z-index: 99;
margin: 0;
border: solid 1px rgba(200,200,200,0.4);
border-radius: 6px;
grid-column: 4/5;
grid-row-start: 5;
grid-row-end: 6;
overflow-y: scroll;
 box-shadow: inset -1px -1px 2px 2px rgba(0,0,0,0.04), inset -1px -1px 4px 4px rgba(0,0,0,0.03), inset 0px 0px 5px 6px rgba(0,0,0,0.02);

}
.scroll-detail img {
  display: none;
}
.show {
display: block !important;
}

.port-cont a{
  text-decoration: none;
  color: black;
}

.port-cont {
right: 1.6rem;
bottom: 6rem;
position: absolute;
display: flex;
  transform: rotate(-90deg);
  align-items: center;
  justify-content: flex-end;
  z-index:

   -webkit-touch-callout: none; /* iOS Safari */
     -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
         -ms-user-select: none; /* Internet Explorer/Edge */
             user-select: none; /* Non-prefixed */
}

.portfolio{
 padding: 0.6rem;
 margin-right: 1.2rem;
 position: relative;
 border: 0.5px solid rgba(0,0,0,0.8);
 background-color: white;
 text-align: center;
 font-size: 14px;
 font-family: 'Ruda', sans-serif;
 letter-spacing:;
 color:rgba(0,0,0,0.9);
 font-weight:;);
 box-shadow: 7px 6px 0px 0px rgba(0,0,0,0.1);
 transition: 120ms;

 text-rendering:;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 ;
}

.portfolio:hover{
  filter: invert(0);
  border: 0.5px solid black;
  box-shadow: 2px 3px 0px 0px rgba(0,0,0,0.3);
  transform: translate(3px,2px);
}

.arrow-button {
  transition: 120ms;
  position: fixed;
  grid-row: 2/3;
  grid-column-start: 2;
  width: 35px;
  height: 35px;
  z-index: 99;

 background-color: rgba(255,255,255,0.2);
 border: 0.5px solid rgba(0,0,0,0.3);
  border-radius: 50%;
  box-shadow: 5px 3px 0px 0px rgba(0,0,0,0.05);
  transition: 120ms;

  text-rendering:;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 padding:;
margin-left: 2em;
margin-top: 2em;
 color:rgba(0,0,0,0.9);/*IconColor*/
text-align: center;
font-weight: bold;

}
.arrow-button i{
		align-self: center;
    justify-self: center;
		margin-top: 0.3rem;
	}
.arrow-button:hover i{

}

.arrow-button:hover{
  border: 0.5px solid rgba(0,0,0,.5);
  box-shadow: 2px 1px 0px 0px rgba(0,0,0,0.2);
  transform: translate(3px,2px);
}

.arrow-button:active{
  filter:;
  border: 0.5px solid black;
  box-shadow: inset 2px 3px 1px 0px rgba(0,0,0,0.3);
  transform: translate(5px,4px);}

#next {
  right: 3.4rem;
  top: 0em;
}


.back-btn:hover {
  border:4px double #bbb;
  color:#aaa;
  text-decoration:none;
  background:#e6e6e6;
}

.back-btn:hover h1 {
  display: block;
}

.back-btn h1{
  position: absolute;
  display: none;
  font-size: 12px;
  padding-left: 3em;
  padding-top: 0.21em;
}




.scroll-miniportfolio{
  grid-column: 4/5;
  grid-row: 5/8;
  scroll-behavior: smooth;
  moz-scroll-behavior: smooth;
  overflow-x:hidden;
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows:auto;
  overflow-y: auto;
}


.scroll-miniportfolio img{
width: 100%;
height: auto;
transition: 150ms ease;
}


.scroll-miniportfolio img:hover{
filter: invert(1) hue-rotate(120deg) contrast(0.9);}

.img-group-1 {
  display: flex;
  margin-bottom: 0.1em;
  align-items: flex-end;
  grid-column: 1/3;
  grid-row-start: 1;
}
.img-cont-1 {
  flex: 1;
  margin-right: 0.4em;
}
.img-cont-2 {
 flex: 1.18;
}

.img-flex-2 {
  display: flex;
  flex-direction: column;
  flex: 1.15;
}
.img-group-2 {
  height: 100%;
  grid-column: 1/3;
  display: flex;
}
.img-cont-5 {
  flex: 1 ;
  padding-left: 0.8em;
  transition: 100ms;
}
.img-cont-5:hover {
  transform: scale(1.11);
filter: none !important;
}

#bio5{
  filter: drop-shadow(0px 0px 1px rgba(0,0,0,0.4));
}

.img-group-3{
  display: flex;
  padding-top: 0.1em;
  grid-column: 1/3;
}
.img-cont-6 {
  flex:1;
  border: solid lightgrey 1px;
}
.img-cont-6:hover {
  transform:  ;
filter: none !important;
;
}
.img-cont-7 {
  flex: 1;
  padding-left: 0.4em;
}
